.kitdw { 
  line-height: 83px;
  margin-left: 51px;
  margin-bottom: 46px;
  padding-right: 13px;
  border-top-width: 0px;
  margin-right: 38px;
  margin-right: 50px;
  margin-bottom: 28px;
  padding-right: 54px;
  border-top-width: 94px;
  border-bottom-width: 93px;
  font-size: 13px;
  padding-bottom: 54px;
  margin-top: 28px;
  border-bottom-width: 71px;
  padding-bottom: 8px;
  line-height: 42px;
  border-bottom-width: 36px;
  padding-left: 64px;
  padding-bottom: 24px;
  padding-left: 70px;
  margin-bottom: 58px;
  margin-right: 47px;
  border-left-width: 70px;
  border-top-width: 2px;
  margin-top: 71px;
  padding-left: 86px;
  line-height: 28px;
  line-height: 21px;
  padding-top: 60px;
  border-right-width: 2px;
  margin-left: 58px;
  line-height: 44px;
  font-size: 38px;
  margin-left: 18px;
  line-height: 54px;
  border-top-width: 2px;
  padding-left: 87px;
  margin-top: 4px;
  line-height: 74px;
  padding-left: 81px;
  border-top-width: 75px;
  border-bottom-width: 39px;
  padding-top: 18px;
  border-bottom-width: 44px;
}
