.kitdw { 
  line-height: 83px;
  margin-left: 51px;
  margin-bottom: 46px;
  padding-right: 13px;
  border-top-width: 0px;
  margin-right: 38px;
  margin-right: 50px;
  margin-bottom: 28px;
  padding-right: 54px;
  border-top-width: 94px;
}
